# set CDN url if its set and the config option of "use_cdn" is true then use this path for the video
cdn_url:


# options to use if save_data is set to true in either a template or config beneath this.
# * Message: Displays a Message Telling a Visitor why the video wasn't loaded on initial visit
# * Message Class: a class to add to the <p> tag containing the message
# * Button Class: class to add for button styling to match your site
# * Wrapping div: wraps the <p>Message</p><button>load vid</button> in a div
# * Wrapping div class: class to style the wrapping div with if you have one
save_data_options:
  message: 'The Save Data Header is Present. To Play and Load the Video click the button below.'
  message_class: [ ]         # class to add to the paragraph tag with the message from above
  button_class: [ ]           # class to add to buttons for your sites styles.
  wrapping_div: false         # true or false. if true a div will contain both the button and paragraph tags from above
  wrapping_div_class: [ ]    # class for wrapping div if set to true


# breakdown of options available to use:
# * use_cdn: [true | false ] this defaults to false
# * save_data: true | false check for the save-data client hint header and don't load videos unless the user wants to. CURRENTLY NOT AVAILABLE :(
# * video_id: gives the containing element an ID as a hook for styling :( or JavaScript :)
# * class: CSS class
# * attributes: [ 'autoplay', 'controls', 'muted', 'loop' ] # dont use autplay please :)
# * preload: 'metadata' # options are metadata | auto | none
# * width_height: [ 400, 400 ] # the width and height of the video element if you have one... optional
# * multiple_source: use HTML5 source attributes to serve multiple sources ie. webm, mp4
# * video_types: [ 'webm', 'mp4', 'ogg'] which types you want to use. webm mp4 should cover most modern browsers Only needed if multiple_source is true
# * media_fragment: [ start_time, end_time ] to play a specific portion of the video see: http://www.html5rocks.com/en/tutorials/video/basics/#toc-markup


# ================================================================================= #
# Full Example
# ================================================================================= #
#default:
#  use_cdn: true
#  save_data: true
#  video_id: blogVideo
#  class: ['class-one']
#  attributes: [ 'autoplay', 'controls', 'muted', 'loop' ]
#  preload: 'metadata'
#  width_height: [ 400, 400 ]
#  multiple_source: true
#  media_fragment: [10, 60 ]

default:
  use_cdn: false
  attributes: [ 'controls']
  preload: 'metadata'
  multiple_source: true
  video_types: [ 'webm', 'mp4' ]



test:
  use_cdn: false
  class: [ 'test-class' ]
  video_id: 'testID'
  video_poster: 'theme/base-2016/images/poster-test.svg' # if you want a poster image to load
  attributes: [ 'controls']
  preload: 'metadata'
  width_height: [ 400, 400 ] # the width and height of the video element if you have one... optional
  multiple_source: true
  video_types: [ 'webm', 'mp4' ]
  tracks:
    en_subtitles:
      kind: 'subtitles'
      srclang: 'en'
      label: 'English subtitles'
      src: '/theme/base-2016/file.vtt'
      default: true
    es_subtitles:
      kind: 'subtitles'
      srclang: 'es'
      label: 'Español subtitles'
      src: '/theme/base-2016/file-es.vtt'
    en_captions:
      kind: 'captions'
      srclang: 'en'
      label: 'English Captions'
      src: '/theme/base-2016/captions.vtt'